<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/create.css">
    <title>ERROR</title>
</head>
<body>
<center>
<embed src="/public/no-lotion-man.mp3" autostart="true" loop="true" width="2" height="0"></embed>
<img src="/public/img/404.gif">
<p style="font-family: comfortaa; text-align: center; font-size: 60px;">ERROR IDK WHAT YOU DID</p>
<a href="/">Home</a>
</center>
</body>
</html>