<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/create.css">
    <title>ERROR</title>
</head>
<body>
<center>
<h1>Hello this is my computer science project which uses nodejs and mongodb.</h1>
<a style="font-size: large;" href="/">Return</a>
</center>
</body>
</html>