<html>
<head>
    <script src='/public/js/client.js'></script>
    <script src='/public/js/socket.io.js'></script>
    <script>
var socket = io();
const urlParams = new URLSearchParams(window.location.search);
const myParam = urlParams.get('code');
let changeQuestion = () => {
    socket.emit('next', myParam);
}
    </script>
</head>    
<body>
    Current Question<text id="question_num">1</text>
    <button onclick="changeQuestion()">Next Question</button>

</body>
    
</html>