<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/home.js"></script>
    <title>[Registration]</title>
</head>
<center>
    <form action="/api/register" method="POST">
        <div class="register-content">
            <h1>Register</h1>
            <input spellcheck="false" autocomplete=false placeholder="USERNAME" type="text" name="username">
            <br><br>
            <input spellcheck="false" autocomplete=false placeholder="PASSWORD" type="password" name="password">
            <hr>
            <button style="font-size: 40px;" type="submit">Register</button>
            <button style="font-size: 20px;" type="button" onclick="redirect('/login')">Login</button>
        </div>
    </form>
</center>
<body>
</body>